.sidebar {
  height: 3em;
  background-color: #6E6C7B;
  position: fixed;
  right: 10%;
  top: 17%;
  color: #fff;
  height: max-content;
  display: flex;
}

.timer-wrapper {
  margin-left: 20px;
  
}
