<form name="form" id="{{deckID}}">

  <div class="row deck">
    <div data-deckid="{{deckID}}" class="level-choices">

      <div class="col s12 m4  deck">
        <div class="card-panel">
          <p class="title">Легкий уровень </p>
          <input class="levelButton" name="1" value="Выбрать" type="button">
        </div>
      </div>

      <div class="col s12 m4  deck">
        <div class="card-panel">
          <p class="title">Средний уровень </p>
          <input class="levelButton" name="2" value="Выбрать" type="button">
        </div>
      </div>

      <div class="col s12 m4  deck">
        <div class="card-panel">
          <p class="title">Высокий уровень </p>
          <input class="levelButton" name="3" value="Выбрать" type="button">
        </div>
      </div>

    </div>
  </div>
</form>