<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/sidebar.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"
    integrity="sha512-zT3zHcFYbQwjHdKjCu6OMmETx8fJA9S7E6W7kBeFxultf75OPTYUJigEKX58qgyQMi1m1EgenfjMXlRZG8BXaw=="
    crossorigin="anonymous"></script>
  <script defer src="/js/application.js"></script>
  <script defer src="/js/Timer.js"></script>

  <title>PREPARATION-INTERVIEW</title>
</head>

<body>

  {{> header}}


  {{> sidebar}}




  <div id="main" class="container">
    {{{body}}}
  </div>


  {{> modal}}



</body>

</html>