<div>
  You answered {{result.points}} questions out of {{result.numQuest}} correctly.
  You've made {{result.tries}} tries to answer.
  <form class="finish">
    <button type="submit">OK</button>
  </form>
</div>
