<div class="result-answers">
  Вы правильно ответили на {{result.points}} вопросов
  из {{result.numQuest}} вопросов.

  {{!-- <form class="finish">
    <button type="submit"></button>
  </form> --}}
</div>