<div class="row">
  <div class="col s12">
    <div class="row">
      <p class="title-card">Вопрос: {{card.question}}</p>
      {{#if card.answerArr}}
      <ul class="variants">
        {{#each card.answerArr}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      {{/if}}
      <br>
      <div class="answer-status">
        Вы верно ответили <i class="material-icons right">thumb_up</i>
      </div>
      <p class="answer-user">Ваш ответ: {{userAnswer}}</p>
      <form class="next">
        <button class="btn waves-effect waves-light blue-grey darken-2 answerBtn" type="submit" name="action">
          Следующий вопрос <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</div>