<!-- Modal Structure -->
<div id="modal-form" class="modal-form">
  <div class="modal-wrapper">
    <div class="modal-content">


    </div>
    <div class="modal-footer">
      {{!-- <a href="#!" class="modal-go waves-effect waves-green btn-flat">Go!</a> --}}
    </div>
  </div>
</div>
</div>