<form name="login" action="/login" method="POST">
  <label for="login">Login:</label>
  <input name="login id=login" placeholder="Type your login" required>
  <button type="submit">Log in</button>
</form>
