<form name="register" action="/register" method="POST">
  <label for="login">Login:</label>
  <input name="login id=login" placeholder="Type your login" required>
  <button type="submit">Register</button>
</form>
